$white: #ffffff;
$black: #000000;
$light-grey: #dddddd;
$dark-grey: #333333;
$light-blue: #337ab7;
$red: #FF0000;
$io-pink: #FF3366;
$io-purple: #743DFB;
$io-purple-dark: #0F0028;
$io-green: #5FFFB4;

$small: 768px;